.settings-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: inherit;

    height: 2rem;
    padding: 0.5rem;

    background: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 1rem;

    font-size: 0.75rem;
    font-weight: 400;

    cursor: pointer;

    transition:
        background-color 150ms,
        border-color 150ms;
}

.settings-button:hover {
    background: var(--color-surface);
    border-color: var(--color-border-hover);
}
