.settings-sidebar {
    display: flex;
    flex-direction: column;
}

.settings-sidebar__navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.settings-sidebar__button {
    width: 2.75rem;
    height: 2.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0.75rem;

    cursor: pointer;
}

.settings-sidebar__button:hover {
}

.settings-sidebar__button--active {
}

.settings-sidebar__icon {
    flex-shrink: 0;
}
