.settings {
    display: flex;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.settings__content {
    flex: 1;

    display: flex;
    flex-direction: column;

    min-width: 0;
    min-height: 0;
}

.settings__header {
    flex-shrink: 0;

    padding: 1.5rem 2rem;
}

.settings__title {
    margin: 0;
}

.settings__body {
    flex: 1;

    min-height: 0;

    overflow-y: auto;

    padding: 0 2rem 2rem;
}
